.card-housing {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


@media screen and (max-width: 840px) {
    .card-housing {
        display: flex;
        flex-direction: column;
    }
}