.carrousel {
    height: 415px;
    overflow: hidden;
    border-radius: 25px;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.carrousel .slide {
    position: absolute;
    z-index: -9999;
}

.slide {
    opacity: 0;
    transition: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
}

.arrowLeft, .arrowRight {
    cursor: pointer;
    opacity: 0.3;
    transition: all 0.3s ease;
}

.arrowLeft:hover, .arrowRight:hover {
    opacity: 1;
    transition: all 0.3s ease;
}

.arrowLeft {
    position: absolute;
    left: 23px;
}

.arrowRight {
    position: absolute;
    right: 23px;
}

.compteur-images {
    position: absolute;
    bottom: 25px;
    margin: 0;
    color: white;
    font-size: 18px;
}