.host {
    margin-top: 24px;
}

.host-profil {
    display: flex;
    justify-content: flex-end;
}

.host-photo {
    height: 64px;
    width: 64px;
    border-radius: 50%;
}

.host-name {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #FF6060;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    line-height: 26px;
    text-align: right;
    height: 64px;
    width: 85px;
    margin: 0 10px 0 auto;
}

.host-rating {
    display: flex;
    margin-top: 20px;
}

.host-rating img {
    margin-left: 10px;
}


@media screen and (max-width: 840px) {
    .host {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

@media screen and (max-width: 578px) {
    .host {
        margin-top: 16px;
        align-items: center;
    }

    .host-photo {
        width: 32px;
        height: 32px;
    }

    .host-name {
        font-size: 12px;
        line-height: 17px;
        height: 33px;
        width: 70px;
    }

    .host-rating {
        margin-top: 0;
    }

    .host-rating img {
        width: 15px;
        height: 15px;
        margin-left: 0;
        margin-right: 5px;
    }
}