.main-about {
    max-width: 1240px;
    margin: 44px auto 46px auto;
}

.main-about .collapses {
    margin-top: 31px;
}

.main-about .collapse {
    max-width: 1023px;
    margin: auto auto 30px;
}

.main-about .collapse-button {
    font-size: 24px;
    line-height: 34px;
    border-radius: 5px;
    padding: 6px 33px 7px 18px;
}

.main-about .collapse div {
    padding: 36px 27px 19px 18px;
}

.main-about .collapse-text {
    font-size: 24px;
    line-height: 34px;
    margin: 0;
}


@media screen and (max-width: 1280px){
    .main-about {
        margin: 44px 20px 46px 20px;
    }
}

@media screen and (max-width: 578px){
    .main-about .collapse-button {
        font-size: 13px;
        padding: 6px 7px 6px 12px;
        line-height: 19px;
    }

    .main-about .collapse-text {
        font-size: 12px;
        padding: 23px 7px 0 11px;
        line-height: 17px;
    }
}