.cards {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 50px;
}


@media screen and (max-width: 1219px) {
    .cards {
        margin: auto;
        justify-content: center;
    }
}

@media screen and (max-width: 1137px) {
    .cards {
        margin-top: 20px;
    }
}