.tags {
    margin-top: 20px;
    margin-bottom: 0;
}

.tag {
    display: inline-block;
    color: white;
    background: #FF6060;
    width: 125px;
    padding: 3px 0 2px 0;
    border-radius: 10px;
    margin-right: 10px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
}


@media screen and (max-width: 578px) {
    .tags {
        margin-top: 10px;
        margin-bottom: 0;
    }

    .tag {
        width: 94px;
        border-radius: 5px;
        font-size: 10px;
        line-height: 14px;
    }
}