.name {
    color: #FF6060;
    font-family: Montserrat, sans-serif;
    font-size: 36px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 0;
    line-height: 51px;
}

@media screen and (max-width: 578px) {
    .name {
        font-size: 18px;
        line-height: 26px;
        margin-top: 15px;
    }
}