.main-error {
    max-width: 1240px;
    margin: 100px auto 66px auto;
}

.cError {
    font-family: Montserrat, sans-serif;
    font-size: 288px;
    font-weight: 700;
    color: #ff6060;
    text-align: center;
    margin: 0;
}

.dError {
    font-family: Montserrat, sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: #ff6060;
    text-align: center;
    margin: 0;
}

.sError {
    display: block;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #ff6060;
    text-align: center;
    width: 100%;
    margin: 182px auto auto auto;
}