.slogan {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    height: 223px;
    overflow: hidden;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.3);
}

.slogan-image {
    position: absolute;
    z-index: -9999;
}

.slogan-text {
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 48px;
    font-weight: 500;
}